# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# builded
*.a
main

# vim buffers
.*.sw?

# Xcode project
COG.xcodeproj

# generated doc
doc/

# autotools
autom4te.cache
